margin: 0 auto;
    padding: 20px;
}

section {
    margin-bottom: 20px;
}

.banner {
    width: 100%;
    height: 300px;
}

.banner img="https://media.discordapp.net/attachments/1203040332145500201/1205189964917248021/PSX_20240206_140740.jpg?ex=65d7779e&is=65c5029e&hm=ec242453b84bd94279adf0f557c17171f09bedbf204f923de5ee1fae975ab207&" {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.intro {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #fff;
}

.intro h2 {
    font-size: 20px;
    font-weight: bold;
}

.intro p {
    width: 60%;
}

.intro a {
    display: inline-block;
    padding: 10px 20px;
    border: 1px solid #00f;
    border-radius: 10px;
    text-decoration: none;
    color: #00f;
}

.intro a:hover {
    background-color: #00f;
    color: #fff;
}

.missao, .diferencial {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #fff;
}

.missao h2, .diferencial h2 {
    font-size: 20px;
    font-weight: bold;
}

.missao p, .diferencial p {
    width: 70%;
}

.titulo {
    text-align: center;
    padding: 20px;
    background-color: #fff;
}

.titulo h2 {
    font-size: 20px;
    font-weight: bold;
}

.servicos {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    background-color: #fff;
}

.servico {
    width: 30%;
}

.servico img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.servico h3 {
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
}

.servico p {
    margin-top: 10px;
}

.contato {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    background-color: #fff;
}

.formulario, .redes, .discord {
    width: 30%;
}

.formulario h3, .redes h3, .discord h3 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.formulario label {
    display: block;
    margin-bottom: 5px;
}

.formulario input, .formulario textarea {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
}

.formulario button {
    display: block;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 10px;
    background-color: #00f;
    color: #fff;
    cursor: pointer;
}

.formulario button:hover {
    background-color: #0f0;
}

.redes ul {
    list-style: none;
}

.redes ul li {
    margin-bottom: 10px;
}

.redes ul li a {
    display: block;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    text-decoration: none;
    color: #333;
}

.redes ul li a:hover {
    background-color: #ccc;
}

.discord a {
    display: block;
    padding: 10px;
    border: 1px solid #00f;
    border-radius: 10px;
    text-decoration: none;
    color: #00f;
}

.discord a:hover {
    background-color: #00f;
    color: #fff;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #fff;
}

footer p {
    font-size: 14px;
 }
 
